[mainconfig]
listenaddr = "0.0.0.0"
port = 6502
bbsname = "Television BBS"
sysopname = "Min Nogginspace"
prelogin = true
showbulls = true
newregistration = true
defaultlevel = 1
configpath = "config/"
ansipath = "ansi/"
asciipath = "ascii/"
modulepath = "modules/"
menuspath = "menus/"
datapath = "data/"
filespath = "files/"
stringsfile = "strings.config"

[channels]
channelslistenaddr = "0.0.0.0"
channelsport = 8088