[actions]
scratching = "scratches their head."
yawning = "yawns."
sighing = "sighs."
singing = "sings."
laughing = "laughs."
crying = "cries."
screaming = "screams."
whistling = "whistles."
winking = "winks."
nodding = "nods."
shrugging = "shrugs."
smiling = "smiles."
frowning = "frowns."
blushing = "blushes."
coughing = "coughs."
sneezing = "sneezes."
drooling = "drools."
licking = "licks."
puking = "pukes."
hugging = "hugs."
kissing = "kisses."
slapping = "slaps."
