[bullet1]
command = 1
description = "show bulletin"
type = display
arguments = bullet1
level = 0

[goodbye]
command = bye
description = "Log off of the BBS"
type = function
arguments = goodbye
level = 0

[info]
command = info
description = "Information about the BBS"
type = display
arguments = info
level = 0