[bulletins]
type = menu
fast = b
arguments = bulletins
level = 0

[goodbye]
type = command
fast = g
arguments = goodbye
level = 0

[help]
type = menu
fast = ?
arguments = main
level = 0

[info]
type = command
fast = i
arguments = info
level = 0

[bye]
type = command
fast = q
arguments = fastQuit
level = 0

[teleconference]
type = command
fast = t
arguments = teleconference
level = 5

[users]
type = command
fast = u
arguments = userlist
level = 5

[obbs]
type = command
fast = o
arguments = obbs
level = 5

[who]
type = command
fast = o
arguments = whosonline
level = 5

[page]
type = command
fast = p
arguments = pagesysop
level = 5

[configuser]
type = menu
fast = c
arguments = userconfig
level = 5

[doors]
type = menu
fast = d
arguments = doors
level = 0

[sysop]
type = menu
fast = $
arguments = sysop
level = 255