[general]
description = "This is a general, all-purpose message base.  Please keep it clean!"
userlevel = 1
type = local
enabled = true

[atari8]
description = "Here we discuss all things Atari 8-Bit home Computer!"
userlevel = 1
type = local
enabled = true

[golang]
description = "You bet we talk go! After all, the TVBBS is written in golang."
userlevel = 1
type = local
enabled = true