[general]
menuprompt = "[ Command ]: "
welcomestring = "Welcome to another TeleVision BBS!"
pressanykey = "Press [ ANY KEY ] to continue..."
pressreturn = "Press [ RETURN ] to continue..."
entername = "Enter your username: "
enterpassword = "Enter your password: "
enternewpassword = "Enter your new password: "
enterpasswordagain = "Enter your new password again: "
areyounew = "Are you a new user? (Y/N): "
areyousure = "Are you sure? (Y/N): "
ansimode = "ANSI mode? (Y/N): "
asciimode = "ASCII mode? (Y/N): "
invalidoption = "Invalid option."
invalidname = "Invalid name."
invalidpassword = "Invalid password."
passwordmismatch = "Passwords do not match."
userexists = "User already exists."
usercreated = "User created."
enterchat = " has entered the chatroom."
leavechat = " has left the chatroom."
pagesysop   = "Are you sure you wnt to page the SysOp? (Y/N): "
ispagingyou = " is paging you."
sysopishere = "The SysOp is here."
sysopisaway = "The SysOp is away."
sysopisbusy = "The SysOp is busy."